<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.domain.visit.mapper.query.VisitQueryMapper">
    <select id="findById" resultType="com.backend.domain.visit.entity.Visit">
        SELECT *
        FROM visits
        WHERE id = #{visitId}
    </select>
    <select id="findAllByUserId" resultType="com.backend.domain.visit.entity.Visit">
        SELECT *
        FROM visits
        WHERE user_id = #{userId}
        <choose>
            <when test="pageable.sort != null and pageable.sort.isSorted()">
                ORDER BY
                <foreach collection="pageable.sort" item="order" separator=",">
                    <choose>
                        <when test="order.property == 'id'">id</when>
                        <when test="order.property == 'createdAt'">created_at</when>
                        <otherwise>id</otherwise>
                    </choose>
                    <choose>
                        <when test="order.direction.name() == 'ASC'">ASC</when>
                        <when test="order.direction.name() == 'DESC'">DESC</when>
                        <otherwise>DESC</otherwise>
                    </choose>
                </foreach>
            </when>
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>


    <select id="countAllByUserId" resultType="int">
        SELECT COUNT(*)
        FROM visits
        WHERE user_id = #{userId}
    </select>
</mapper>
